<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>Yelp for lazy people</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <br>

    <form action="/data" method="post">
      <fieldset>
      <h3>Yelp for lazy people</h3>
      <input type="text" name="locations" id="locations" placeholder="location"><br>
      <input type="number" name="radius" id="radius" placeholder="radius (meters)"><br>
      <input type="submit" value="Submit">
      </fieldset>
    </form>


  </div>
</body>
</html>